{% extends "base.html" %} {% block content %}

<!-- section -->
<section class="section fullscreen site-main">
  <div class="container-section">
    <div class="container-table">
      <div class="content-table">
        <!-- bt-carousel -->
        <div class="bt-carousel">

          <!-- about section -->
          <div class="item-slide show">
            <!-- container -->
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <!-- header section -->
                  <div class="header-section animated bounceInDown" data-animation-delay="700">
                    <!-- title section -->
                    <h2 class="title-section">About Us</h2>
                    <!-- /title section -->
                    <div class="line-separate line-white line-center"><span></span></div>
                  </div>
                  <!-- /header section -->

                  <!-- content slide -->
                  <div class="content-slide aboutus">
                    <div class="row">
                      <div class="col-xs-12 col-md-6 animated bounceInLeft" data-animation-delay="700">
                        <h3>our story</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem
                          ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <!-- Pregress bar -->
                        <h3>resource available</h3>
                        <div class="pregress-bar">
                          <div class="skill-lockup">
                            <span class="category-name mb">communication</span><span class="progress-status">90%</span>
                            <span class="skill-bar">
<span class="skill-level  planning"></span>
                            </span>
                          </div>
                          <!-- /planning -->

                          <div class="skill-lockup">
                            <span class="category-name mb">visual design</span><span class="progress-status">80%</span>
                            <span class="skill-bar">
<span class="skill-level programming"></span>
                            </span>
                          </div>
                          <!-- /programming -->

                          <div class="skill-lockup">
                            <span class="category-name">business strategy</span><span class="progress-status">70%</span>
                            <span class="skill-bar">
<span class="skill-level developing"></span>
                            </span>
                          </div>
                          <!-- /developing -->

                          <div class="skill-lockup">
                            <span class="category-name">branding</span><span class="progress-status">85%</span>
                            <span class="skill-bar">
<span class="skill-level supporting"></span>
                            </span>
                          </div>
                          <!-- /supporting -->
                        </div>
                        <!-- /Pregress bar -->
                      </div>
                      <!-- /col-xs-12 col-md-6 -->

                      <!-- video section -->
                      <div class="col-xs-12 col-md-6 video-section animated bounceInRight" data-animation-delay="700">
                        <div class="big-video center">
                          <h3>About with a video</h3>
                          <div class="video-content">
                            <iframe src="https://www.youtube.com/embed/BpYaM87g3oY" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                      <!-- /video section -->
                    </div>
                    <!-- /row -->

                  </div>
                  <!-- /content slide -->
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- about section -->

        </div>
        <!-- /bt-carousel -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
{% endblock %}