{% extends "base.html" %} {% block content %}

<!-- section -->
<section class="section fullscreen site-main">
  <div class="container-section">
    <div class="container-table">
      <div class="content-table">
        <!-- bt-carousel -->
        <div class="bt-carousel">

          <!-- about section -->
          <div class="item-slide show">
            <!-- container -->
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <!-- header section -->
                  <div class="header-section animated bounceInDown" data-animation-delay="700">
                    <!-- title section -->
                    <h2 class="title-section">About Us</h2>
                    <!-- /title section -->
                    <div class="line-separate line-white line-center"><span></span></div>
                  </div>
                  <!-- /header section -->

                  <!-- content slide -->
                  <div class="content-slide aboutus">
                    <div class="row">
                      <div class="col-xs-12 col-md-6 animated bounceInLeft" data-animation-delay="700">
                        <em><p>Bringing the most up-to-date legal information to Rwandan!</p></em>

                        <h2 class="text-center">Application Domain</h2>

                        <p>The goal of the project is to create a database system that lawyers can use to retrieve legal information based on a set of attributes (e.g. publication year, type or section of legal document, etc). The database will only include
                          Rwandan laws. In additional to retrieving information, lawyers will be able to manage cases using the web application. That is, they will be able to create a topic (i.e. legal case) and add links to the laws and/or sections of
                          the laws that are relevant to the legal case.</p>

                        <h2 class="text-center">Usefulness</h2>

                        <p>As of now, Rwandan laws are only available as PDF documents and hard copies (unstructured data). As such, our project will be the first effort to turn Rwandan laws into structured data that can be queried using a set of attributes.
                          We hope that this will reduce the amount of time lawyers spend on legal research. In addition, by showing additional information such as amended and repealed laws, we hope to increase the accuracy of legal information.</p>

                        <h2 class="text-center">Realness</h2>

                        <p>We downloaded the data from the Office of the Prime Minister of Rwanda’s website (https://goo.gl/gxEvnc). The data was downloaded PDF documents, which were later converted into text files. The raw files have been cleaned and converted
                          into structured data.</p>

                        <h2 class="text-center">Functionality</h2>

                        <p>Description of the functionality that you plan to offer. This is where you talk about how to meet the functionality requirements. There are two types of functions you need to offer:</p>

                        <h3 class="text-center">Basic</h3>

                        <p>Users will be able search laws based on a set of attributes including law name, publication date, law number, type of law, etc.</p>
                        <p>Users will be able to create, update, and delete legal cases and associated information (“insert”, “update”, and “delete” functionalities).</p>

                        <h3 class="text-center">Advanced</h3>

                        <p>Showing laws that are no longer up-date specifically laws that have been repealed or amended. This feature will attempt to facilitate lawyers to know which laws have been invalidated. Sometimes the language is explicit when repealing
                          previous laws (e.g. “law # 090 of 2005 is hereby repealed…”) and sometimes the language is vague (e.g. “alls previous laws that contradict this law are hereby repealed…”). So, we will try to use NLP techniques to (at least) point
                          out which previous law are referenced (or significantly related) to a subsequent/more recent law.</p>
                        <p>Advanced keyword search: we will implement n-gram and tf-idf algorithms to enable users to search using natural language queries.</p>
                        <p>We also aim to implement a user authentication system.</p>
                        <p>Lastly, we would like to add a feature for laws auto-querying. That is, if a law is referenced in the text, a user should be able to click on and go to the page with that law.</p>

                        <h2 class="text-center">Entity Relationship Diagram</h2>
                        <img src="../static/imgs/erdv6.png" alt="ERD Graphic" style="width: 100%">

                        <h2>Assumptions</h2>

                        <p>We made the assumption that for each case, if the user adds a law or an article from a law, they can only have one note/comment associated with it. Additionally, tags are private to the user's cases. We decided to give each account
                          a type, as in the future, additional account types (beyond legal professionals) might be implemented.</p>

                        <p>Currently, this database only implements storage for statutory laws, but we note the type of law in that table, because in the future case law would likely be included as reference material. Similarly, though our database currently
                          only will store the English version of laws, many are written in multiple languages so that could potentially be stored in the future as well (especially since case law is not available in English).</p>
                        <!-- Pregress bar -->
                        <h3>resource available</h3>
                        <div class="pregress-bar">
                          <div class="skill-lockup">
                            <span class="category-name mb">communication</span><span class="progress-status">90%</span>
                            <span class="skill-bar">
<span class="skill-level  planning"></span>
                            </span>
                          </div>
                          <!-- /planning -->

                          <div class="skill-lockup">
                            <span class="category-name mb">visual design</span><span class="progress-status">80%</span>
                            <span class="skill-bar">
<span class="skill-level programming"></span>
                            </span>
                          </div>
                          <!-- /programming -->

                          <div class="skill-lockup">
                            <span class="category-name">business strategy</span><span class="progress-status">70%</span>
                            <span class="skill-bar">
<span class="skill-level developing"></span>
                            </span>
                          </div>
                          <!-- /developing -->

                          <div class="skill-lockup">
                            <span class="category-name">branding</span><span class="progress-status">85%</span>
                            <span class="skill-bar">
<span class="skill-level supporting"></span>
                            </span>
                          </div>
                          <!-- /supporting -->
                        </div>
                        <!-- /Pregress bar -->
                      </div>
                      <!-- /col-xs-12 col-md-6 -->

                      <!-- video section -->
                      <div class="col-xs-12 col-md-6 video-section animated bounceInRight" data-animation-delay="700">
                        <div class="big-video center">
                          <h3>About with a video</h3>
                          <div class="video-content">
                            <iframe src="https://www.youtube.com/embed/BpYaM87g3oY" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                      <!-- /video section -->
                    </div>
                    <!-- /row -->

                  </div>
                  <!-- /content slide -->
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- about section -->

        </div>
        <!-- /bt-carousel -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
{% endblock %}