<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ctructure</title>
  <!-- Bootstrap CSS -->
  <link href="../static/css/paper.css" rel="stylesheet">
  <!-- JQuery -->
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/cse30246/rwandanlaw/ctructure">Ctructure</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active" id="home"><a  href="/">Home</a></li>
          <li id="plan"><a href="plan">Plan</a></li>
          <li id="query"><a href="query">Query</a></li>
          <li id="login"><a href="login">Login</a></li>
          <li id="updateinfo"><a href="updateinfo">Update Information</a></li>
          <li id="signup"><a href="signup">Create Account</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container theme-showcase main" role="main">
