{% extends "base.html" %} {% block content %}
<!-- section -->
<section class="section fullscreen site-main">
  <div class="container-section">
    <div class="container-table">
      <div class="content-table">
        <!-- bt-carousel -->
        <div class="bt-carousel">

          <!-- home section -->
          <div class="item-slide show">
            <!-- container -->
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <!-- content slide -->
                  <div class="content-slide">

                    <h3 class="color-white top-margin animated bounceInDown" data-animation-delay="700">Bringing the most accurate and up-to-date legal information on commercial & business law in Rwanda.</h3>

                    <!-- Subscribe Form -->
                    <div class="form animated bounceInUp" data-animation-delay="700">
                      <!-- container form -->
                      <div class="container-form">
                        <!-- section page -->
                        <div class="section-page" id="signup">
                          <div class="filters-row">
                            <form class="subscription-form mailchimp" name="query" action="/query" method="post" id="mc-form">
                              <input type="search" id="search" class="border-radius-22 bottom-margin" name="search" placeholder="Search" />
                              <input type="submit" value="submit" id="subscribebtn" class="border-button no-bottom-margin">
                              <select name="agency-filter" class="search-filter">
                              <option value="None" selected="selected">Agency</option>
                              <option value="MINICOM">MINICOM</option>
                              <option value="MINECOFIN">MINECOFIN</option>
                              <option value="RURA">RURA</option>
                              <option value="BNR">BNR</option>
                              <option value="RDB">RDB</option>
                              <option value="MYICT">MYICT</option>
                              <option value="RRA">RRA</option>
                              <option value="REMA">REMA</option>
                              <option value="MINEACOM">MINEACOM</option>
                          </select>
                              <select name="content-type-filter" class="search-filter">
                              <option value="None" selected="selected">Content Type</option>
                              <option value="Constitution">Constitution</option>
                              <option value="law">Law</option>
                              <option value="Organic Law">Organic Law</option>
                              <option value="Presidential Order">Presidential Order</option>
                              <option value="Prime Minister Order">Prime Minister Order</option>
                              <option value="Ministerial Order">Ministerial Order</option>
                              <option value="Rule">Rule</option>
                              <option value="Instruction">Instruction</option>
                              <option value="Policy">Policy</option>
                          </select>
                              <select name="pub-year-filter" class="search-filter">
                              <option value="None" selected="selected">Publication Year</option>
                              <option value="2008">2008</option>
                              <option value="2009">2009</option>
                              <option value="2010">2010</option>
                              <option value="2011">2011</option>
                              <option value="2012">2012</option>
                              <option value="2013">2013</option>
                              <option value="2014">2014</option>
                              <option value="2015">2015</option>
                              <option value="2016">2016</option>
                          </select>
                          </div>
                            </form>
                          
                        </div>
                        <!-- /section page -->
                      </div>
                      <!-- /container form -->
                    </div>
                    <!-- /Subscribe Form -->

                    <!-- socials icons 
                        <nav class="socials-icons animated bounceInUp" data-animation-delay="700">
                        <ul>
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul> 
                        nav><!-- /socials icons -->

                    <!-- copyright -->
                    <footer class="copy-right animated bounceInUp" data-animation-delay="700">
                      <div class="copyright">
                        © 2017 <a href="http://ctructure.com">Ctructure</a> - All Rights Reserved
                      </div>
                    </footer>
                    <!-- /copyright -->

                  </div>
                  <!-- /content slide -->
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /home section -->

        </div>
        <!-- /bt-carousel -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->

{% endblock %}