{% extends "base.html" %} {% block content %}
<div class="morph-shape" data-morph-open="M300-10c0,0,295,164,295,410c0,232-295,410-295,410" data-morph-close="M300-10C300-10,5,154,5,400c0,232,295,410,295,410">
        <svg width="100%" height="100%" viewBox="0 0 600 800" preserveAspectRatio="none">
        <path fill="none" d="M300-10c0,0,0,164,0,410c0,232,0,410,0,410"/>
        </svg>
      </div>
    </nav>
    <!-- /menu -->

<!-- main -->
<div class="main">
  <!-- header -->
  <header class="header-site">
    <div class="logo-site animated bounceInDown" data-animation-delay="700">
      <img class="img-responsive" src="../static/images/logo.png" data-at2x="../static/images/logo@2x.png" alt="Logo" />
    </div>
  </header>
  <!-- /header -->

  <!-- section -->
  <section class="section fullscreen site-main">
    <div class="container-section">
      <div class="container-table">
        <div class="content-table">
          <!-- bt-carousel -->
          <div class="bt-carousel">

            <!-- home section -->
            <div class="item-slide show">
              <!-- container -->
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">

                    <!-- content slide -->
                    <div class="content-slide">

                      <h3 class="color-white top-margin animated bounceInDown" data-animation-delay="700">Bringing the most accurate and up-to-date legal information on commercial & business law in Rwanda.</h3>

                      <!-- Subscribe Form -->
                      <div class="form animated bounceInUp" data-animation-delay="700">
                        <!-- container form -->
                        <div class="container-form">
                          <!-- section page -->
                          <div class="section-page" id="signup">
                            <form class="subscription-form mailchimp" method="post" id="mc-form">
                              <input type="email" id="email" class="border-radius-22 bottom-margin" name="email" placeholder="Enter Your Email Address" />
                              <button type="submit" id="subscribebtn" class="border-button no-bottom-margin">Subscribe</button>
                            </form>
                            <p class="message-error"></p>
                            <p class="message-success"></p>
                          </div>
                          <!-- /section page -->
                        </div>
                        <!-- /container form -->
                      </div>
                      <!-- /Subscribe Form -->

                      <!-- socials icons 
                        <nav class="socials-icons animated bounceInUp" data-animation-delay="700">
                        <ul>
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul> 
                        nav><!-- /socials icons -->

                      <!-- copyright -->
                      <footer class="copy-right animated bounceInUp" data-animation-delay="700">
                        <div class="copyright">
                          © 2017 <a href="http://ctructure.com">Ctructure</a> - All Rights Reserved
                        </div>
                      </footer>
                      <!-- /copyright -->

                    </div>
                    <!-- /content slide -->
                  </div>
                </div>
                <!-- /row -->
              </div>
              <!-- /container -->
            </div>
            <!-- /home section -->

          </div>
          <!-- /bt-carousel -->
        </div>
      </div>
    </div>
  </section>
  <!-- /section -->
</div>
<!-- /main -->
</div>
<!-- /container -->
{% endblock %}