{% extends "base.html" %} {% block content %}

<div class="page-header text-center">
  <h1 class="text-center">Develpoment Plan</h1>

</div>


<h2 class="text-center">Plan</h2>

<p>We will be using MySQL and Python for this project.</p>

<img src="../static/imgs/erdv3.png" alt="ERD Graphic v3" width="100%">

<h2 class="text-center">Data</h2>

<p>The raw data came from the<a href="http://www.primature.gov.rw/media-publication/publication/latest-offical-gazettes/previous-years.html">Official Gazette of Rwanda </a> The PDF was subsequently converted to structured text files using regular expressions.
  </p>

<h2 class="text-center">Labor Division (Tentative)</h2>

<ul>
  <li>Front-end (ALL)
    <ul> Auto-querying
      <ul>
  </li>
  <li>Data (cleaning and database portion)
    <ul>
      <li>Automation of importing (Anselme) </li>
      <li>Repeals and references*** (Yun, Anselme)</li>
    </ul>
  </li>
  <li>User authentication system (Kat,Samson) </li>
  <li>Case management system (Kat, Samson) </li>
  <li>Advanced keyword search (Anselme, Yun) </li>
  <li>Basic functionalities (ALL)
    <ul>
      <li>Insert </li>
      <li>Update </li>
      <li>Delete </li>
      <li>Search </li>
    </ul>
  </li>
  </ul>

  <h2 class="text-center">Timeline</h2>

  <ul>
    <li>10/9-10/13 (And Fall Break)
      <ul> Auto-querying
        <ul>
    </li>
    <li>10/23-10/27
      <ul>
        <li>SQL Database; import data/start automation of import </li>
        <li>Start basic functionalities/case management prototype </li>
      </ul>
    </li>
    <li>10/30-11/3
      <ul>
        <li>All basic functionalities </li>
        <li>Start advanced features </li>
      </ul>
    </li>
    <li>11/6-11/10
      <ul>
        <li>Basic UI implementation for user case management </li>
      </ul>
    </li>
    <li>11/13
      <ul>
        <li>User authentication, keyword search </li>
      </ul>
    </li>
    <li>11/20 (And Thanksgiving)
      <ul>
        <li>UA and advanced querying </li>
      </ul>
    </li>
    <li>11/27
      <ul>
        <li>MVP / Video </li>
      </ul>
    </li>
    <li>Pre-finals Week (12/5)
      <ul>
        <li>Final Report and final weaks</li>
      </ul>
    </li>
    </ul>

    {% endblock %}
