{% extends "base.html" %} {% block content %}

<!-- section -->
<section class="section fullscreen site-main">
  <div class="container-section">
    <div class="container-table">
      <div class="content-table">
        <!-- bt-carousel -->
        <div class="bt-carousel">

          <!-- services section -->
          <div class="item-slide show">
            <!-- container -->
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <!-- header section -->
                  <div class="header-section animated bounceInDown" data-animation-delay="700">
                    <!-- title section -->
                    <h2 class="title-section">Featured Work</h2>
                    <!-- /title section -->
                    <div class="line-separate line-white line-center"><span></span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                  <!-- /header section -->

                  <!-- content slide -->
                  <div class="content-slide">
                    <div class="row animated bounceInUp" data-animation-delay="700">
                      <!-- Portfolio -->
                      <div id="owl-demo" class="owl-carousel">

                        <div class="item">
                          <img src="images/portfolio-1.jpg" data-at2x="images/portfolio-1@2x.jpg" alt="portfolio-1">
                          <h4>Project-1</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                        </div>
                        <!-- /item -->

                        <div class="item">
                          <img src="images/portfolio-2.jpg" data-at2x="images/portfolio-2@2x.jpg" alt="portfolio-2">
                          <h4>Project-2</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                        </div>
                        <!-- /item -->

                        <div class="item">
                          <img src="images/portfolio-3.jpg" data-at2x="images/portfolio-3@2x.jpg" alt="portfolio-3">
                          <h4>Project-3</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                        </div>
                        <!-- /item -->

                        <div class="item">
                          <img src="images/portfolio-4.jpg" data-at2x="images/portfolio-4@2x.jpg" alt="portfolio-4">
                          <h4>Project-4</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                        </div>
                        <!-- /item -->

                        <div class="item">
                          <img src="images/portfolio-5.jpg" data-at2x="images/portfolio-5@2x.jpg" alt="portfolio-5">
                          <h4>Project-5</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                        </div>
                        <!-- /item -->

                        <div class="item">
                          <img src="images/portfolio-6.jpg" data-at2x="images/portfolio-6@2x.jpg" alt="portfolio-6">
                          <h4>Project-6</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <p>
                        </div>
                        <!-- /item -->

                      </div>
                      <!-- /Portfolio -->
                    </div>
                    <!-- /row -->

                  </div>
                  <!-- /content slide -->
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /Portfolio section -->

        </div>
        <!-- /bt-carousel -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
{% endblock %}