{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Search</h1>

<div class="form-wrapper">
  <div class="form-header">
    New Search
  </div>
<form name="query" action="" method="GET">
  <div class="form-content">
    <div class="form-content-row">
      <span class="field-title">Query:</span>
      <input class="form-input" type="search" name="search" placeholder="Enter a search term...">
    </div>
    <div class="form-content-row">
      <span class="field-title">Filter by:</span><br>
      <span class="field-title">Year: </span>
      <input class="form-input" type="radio" name="year" value="2008">2008
      <input class="form-input" type="radio" name="year" value="2009">2009<br>
    </div>
    <input type="submit" value="Submit">
  </div>

</form>
</div>

<h2>Results</h2>

<div id="results">

</div>

{% endblock %}
