{% extends "base.html" %} {% block content %}
<!-- section -->
<section class="section fullscreen site-main">
  <div class="container-section">
    <div class="container-table">
      <div class="content-table">
        <!-- bt-carousel -->
        <div class="bt-carousel">

          <!-- services section -->
          <div class="item-slide show">
            <!-- container -->
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <!-- header section -->
                  <div class="header-section animated bounceInDown" data-animation-delay="700">
                    <!-- title section -->
                    <h2 class="title-section">Our Services</h2>
                    <!-- /title section -->
                    <div class="line-separate line-white line-center"><span></span></div>
                    <p>Ctructure is a database system that lawyers can use to retrieve legal information based on a set of attributes (e.g. publication year, content type or agency of legal document, etc). The database will only include Rwandan laws. </p>
                  </div>
                  <!-- /header section -->

                  <!-- content slide -->
                  <div class="content-slide">
                    <div class="row">
                      <div class="col-md-6 animated bounceInLeft" data-animation-delay="700">
                        <!-- service list -->
                        <div class="service-list">

                          <!-- item service -->
                          <div class="item-service">
                            <div class="service-icon">
                              <i class="ion-alert-circled"></i>
                            </div>
                            <div class="service-text">
                              <h3>Why choosing us</h3>
                              <p>As of now, Rwandan laws are only available as PDF documents and hard copies (unstructured data). As such, our project will be the first effort to turn Rwandan laws into structured data that can be queried using a set of attributes. We hope that this will reduce the amount of time lawyers spend on legal research. In addition, by showing additional information such as amended and repealed laws, we hope to increase the accuracy of legal information.</p>
                            </div>
                          </div>
                          <!-- /item service -->

                          <!-- item service -->
                          <div class="item-service">
                            <div class="service-icon">
                              <i class="ion-android-phone-landscape"></i>
                            </div>
                            <div class="service-text">
                              <h3>Advance Features</h3>
                              <p>1. Showing laws that are no longer up-date specifically laws that have been repealed or amended. This feature will attempt to facilitate lawyers to know which laws have been invalidated
                                2. Advance keyword search</p>
                            </div>
                          </div>
                          <!-- /item service -->
                        </div>
                        <!-- /service list -->
                      </div>
                      <!-- /col-md-6 -->

                  </div>
                  <!-- /content slide -->
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /services section -->

        </div>
        <!-- /bt-carousel -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
{% endblock %}