{% extends "base.html" %} {% block content %}

<!-- section -->
<section class="section fullscreen site-main">
  <div class="container-section">
    <div class="container-table">
      <div class="content-table">
        <!-- bt-carousel -->
        <div class="bt-carousel">

          <!-- services section -->
          <div class="item-slide show">
            <!-- container -->
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <!-- header section -->
                  <div class="header-section animated bounceInDown" data-animation-delay="700">
                    <!-- title section -->
                    <h2 class="title-section">Sign Up</h2>
                    <!-- /title section -->
                    <div class="line-separate line-white line-center"><span></span></div>
                     <h1 class="text-center">Create New Account</h1>

<div class="alert alert-{{ messageType }}" >
  {{ message }}
</div>
<form style="width=50%;" action="/signup" method='POST' name="signup">
  <label for="inputName" class="sr-only">First name</label>
  <input type="name" name="input_firstname" id="input_firstname" class="form-control" placeholder="User Name" required autofocus>
  <label for="inputName" class="sr-only">Last name</label>
  <input type="name" name="input_lastname" id="input_lastname" class="form-control" placeholder="First Name" required autofocus>
  <label for="inputName" class="sr-only">Username</label>
  <input type="name" name="input_username" id="input_username" class="form-control" placeholder="Last Name" required autofocus>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="input_email" id="input_email" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="input_password" id="input_password" class="form-control" placeholder="Password" required>

  <input type="submit" value="Create Account!" class="btn btn-primary">
</form>

                  </div>
                  <!-- /header section -->

                  <!-- content slide -->
                  <div class="content-slide">
                    <div class="row animated bounceInUp" data-animation-delay="700">
                    
                    </div>
                    <!-- /row -->

                  </div>
                  <!-- /content slide -->
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /Portfolio section -->

        </div>
        <!-- /bt-carousel -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
{% endblock %}