{% extends "base.html" %} {% block content %}
<!-- section -->
<section class="section fullscreen site-main">
  <div class="container-section">
    <div class="container-table">
      <div class="content-table">
        <!-- bt-carousel -->
        <div class="bt-carousel">

          <!-- services section -->
          <div class="item-slide show">
            <!-- container -->
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                  <!-- header section -->
                  <div class="header-section animated bounceInDown" data-animation-delay="700">
                    <!-- title section -->
                    <h2 class="title-section">Our Team</h2>
                    <!-- /title section -->
                    <div class="line-separate line-white line-center"><span></span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                  <!-- /header section -->

                  <!-- content slide -->
                  <div class="content-slide">
                    <div class="row animated bounceInUp" data-animation-delay="700">
                      <!-- Team -->
                      <div class="col-md-3 col-sm-6">
                        <div class="panel">
                          <img src="images/team-1.jpg" data-at2x="images/team-1@2x.jpg" alt="team-1" class="img-circle img-responsive">
                          <h4>John Doe</h4>
                          <h6>CEO</h6>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-pinterest-p"></i></a>
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                      </div>
                      <!-- /panel -->

                      <div class="col-md-3 col-sm-6">
                        <div class="panel">
                          <img src="images/team-2.jpg" data-at2x="images/team-2@2x.jpg" alt="team-2" class="img-circle img-responsive">
                          <h4>K.E Anderson</h4>
                          <h6>PROJECT MANAGER</h6>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-pinterest-p"></i></a>
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                      </div>
                      <!-- /panel -->

                      <div class="col-md-3 col-sm-6">
                        <div class="panel">
                          <img src="images/team-3.jpg" data-at2x="images/team-3@2x.jpg" alt="team-3" class="img-circle img-responsive">
                          <h4>Perry Warner</h4>
                          <h6>MARKET ANALYST</h6>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-pinterest-p"></i></a>
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                      </div>
                      <!-- /panel -->

                      <div class="col-md-3 col-sm-6">
                        <div class="panel">
                          <img src="images/team-4.jpg" data-at2x="images/team-4@2x.jpg" alt="team-4" class="img-circle img-responsive">
                          <h4>R.A Bhuiyan</h4>
                          <h6>WEB DEVELOPER</h6>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-pinterest-p"></i></a>
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                      </div>
                      <!-- /panel -->

                      <!-- /Team -->
                    </div>
                    <!-- /row -->

                  </div>
                  <!-- /content slide -->
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /Team section -->

        </div>
        <!-- /bt-carousel -->
      </div>
    </div>
  </div>
</section>
<!-- /section -->
{% endblock %}